.home-wrap{
  width: 100vw;
  overflow: hidden;
  font-size: 12px;
}
.banner-wrap{
  margin-top: 4px;
  display: flex;
  
  .banner-item{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: calc(100vw - 40px);
    margin-right: 30px;
    img{
      width: 100%;
      border-radius: 8px;
    }
  }
}
.dragon-wrap{
  display: flex;
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .dragon-item{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:  10px;
    img{
      height: 50px;
      width: 50px;
    }
  }
}
.topsong-wrap{
  .song-item{
    margin: 5px 0;
    display: flex;
    align-items: center;
    img{
      height: 50px;
      width: 50px;
      border-radius: 6px;
    }
    .text{
      margin-left: 10px;
      span{
        display: block;
        margin: 3px 0;
      }
    }
  }
  
}

.light{
  .title{
    font-size: 18px;
    margin: 10px 0;
    color: black;
  }
}
.dark{
  .title{
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
  }
}